{% block footer %}
<div class="footer">
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <p>  
                <span>
                    <img src="{{ url_for('.static', filename='img/logoe256blue.png')}}" class="footer__logo" alt="Marvel Logo">
                </span>
                © 2021 - Desing by eddie75espinoza   |
                <span>
                    <a href="http://marvel.com\">Data provided by Marvel. © 2021 MARVEL</a>
                </span>
                <span>
                    <img src="{{ url_for('.static', filename='img/marvel_logo.png')}}" class="footer__logo" alt="Marvel Logo">
                </span>
            </p>
        </div>
    </div>
</div>
</div>
{% endblock footer %}
