{% extends 'marvel/base.html' %}

{% block title %} | SuperHeroes {% endblock %}
{% block head %}
  {{ super() }}  
{% endblock %}

{% block home %}
<div class="group__hero">
    {% for data in data_list %}
    <div class="card">
        <a href="/hero/{{ data.name }}">
            <img src="{{ data.thumbnail.path }}/standard_fantastic.{{ data.thumbnail.extension }}" alt="{{ data.name }}">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ data.name }}</h5>           
        </div>
    </div>
  {% endfor %}      
</div>
{% endblock home %} 